*~
graphs
compile/*.o
compile/*.bin
compile/tc*.c
compile/tc*.out
compile/tc.json
compile/nr*.c
compile/nr*.out
compile/nr.json
compile/cost
compiled/
logs/*
ml-toy
papers
www/demo
demo.log
*.class
cost
previous
*.swp
brass-output.txt
regimes-output.txt
